color_and_zoom.mp4 filter=lfs diff=lfs merge=lfs -text
IMG_5387.mp4 filter=lfs diff=lfs merge=lfs -text
I[[:space:]]Quit[[:space:]]Rocket[[:space:]]League[[:space:]]for[[:space:]]3[[:space:]]Months...[[:space:]]This[[:space:]]is[[:space:]]What[[:space:]]Happened[[:space:]]When[[:space:]]I[[:space:]]Came[[:space:]]Back.mp4 filter=lfs diff=lfs merge=lfs -text
*.webm filter=lfs diff=lfs merge=lfs -text
